{% extends 'base.html' %}
{% load static %}
{% block section %}
<h2>Cliente</h2>

{% endblock section %}
{% block maincontent %}

<div>

	<table class="table table-striped table-inverse" >
					  <thead>
					<tr class="success">
							<td><h1 style = "float: right;margin-top: -2%;">{{object.nombre}} </h1></td>
							
										<td>
											<div style = "float: right; margin-right: 70%;">
											<a  class='btn btn-success '  href="{% url 'recursos-update' object.id %}">Editar</a>
											<a  class='btn btn-primary ' href="{% url 'recursos-delete' object.id %}">Eliminar</a>
											</div>
										</td>
			
		</tr>
	</table>
</div>
{% endblock maincontent %}



{{ object.id }}, {{ object.name }}
