{% extends 'base.html' %}
{% load static %}
{% block section %}
<h2>
	{{ object.title }}
	{% if object.favorite %}
	&#9733;
	{% else %}
	&#9734;
	{% endif %}
	{% if object.cliente_id %}
	( <a href="{% url 'cliente-detail' object.cliente_id %}">{{object.cliente}}</a> )
	{% endif %}
</h2>
<p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>

	<hr>
	{% endblock section %}
	{% block maincontent %}
	<div>
		<div>
			
		</div >
	</div>
	{% endblock maincontent %}