{% extends 'base.html' %}
{% block section %}
	<h2><b>¡¡Registro Exitoso!!</h2></h2>
	<hr>
{% endblock section %}
{% block maincontent %}
<DIV>
	{% for p in object_list.all %}
				<a href="{% url 'recursos-detail' p.id %}">	
					<table class="table table-striped table-inverse" >
					  <thead>
					<tr class="bg-primary">
					<td> Nombre :{{p.nombre}} </td>
					<td> Cantidad :{{p.cantidad}}</td> 
					</tr>
					</table>
				</a>
  {% endfor %}
</DIV>
{% endblock maincontent %}